body {
    font-family: "Times New Roman", Time, serif; 
    background-image: url("../images/295885.jpg")     
}

h1 {
    color: blue;
    text-align: center; 
}

p {
    color: blue;
    text-align: center;
}

